[info]
id = 0AR
name = services.int
description: Arata IRC Services

[local]
password = password

[remote]
host = 127.0.0.1
port = 6697
tls = enabled
password = password

[nickserv]
nick = NickServ
user = NickServ
name: Nickname Services

[chanserv]
nick = ChanServ
user = ChanServ
name: Channel Services
