[info]
id = 0AR
name = services.int
description: Arata IRC Services

[local]
password = password

[remote]
host = 127.0.0.1
port = 6697
tls = enabled
password = password

[chanserv]
nick = ChanServ
user = ChanServ
host = chanserv.services.int
name: Channel Services

[nickserv]
nick = NickServ
user = NickServ
host = nickserv.services.int
name: Nickname Services
